@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --azul: #4B8AC7;
  }
}

body {
  color: var(--foreground);
  @apply bg-[url('/assets/background.jpg')] bg-cover bg-center bg-fixed;
  font-family: Arial, Helvetica, sans-serif;
}
